@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("react-quill/dist/quill.snow.css");

body {
  color: rgb(var(--foreground-rgb));
  background: url('/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.Turnstile iframe {
  width: 100% !important;
  border-radius: 0 0 12px 12px !important;
  border: 1px #3f3f46 solid !important;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0 5px;
}
